<div ng-controller="MashControlCtrl" class="container">
    <div class="page-header">
        <h1>Mash Control <small>Simple mashing</small></h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Status</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-3">Current Temperature</div>
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div ng-show="currentTemp">{{currentTemp.temperature}} C</div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3">Temp update</div>
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div ng-show="currentTempTime">
                        {{ currentTempTime | date : 'mediumTime' }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-3">Start time</div>
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div ng-show="startedTime">
                        {{ startedTime | date : 'mediumTime' }}
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3">Graph update</div>
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div ng-show="lastTempUpdate">
                        {{ lastTempUpdate | date : 'mediumTime' }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-3">Run time</div>
                <div class="col-xs-6 col-sm-8 col-md-9">
                    <div ng-show="runTime">
                        {{ runTime }} s ( {{ secondsToMinutes(runTime) }} min)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-3">Status</div>
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div ng-show="status">{{ status.status }}</div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3">Step</div>
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div ng-show="status && status.step">
                        {{ status.step }}<span ng-show="status.stepName">, {{ status.stepName }}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-3">Heat cut off</div>
                <div class="col-xs-6 col-sm-8 col-md-9">
                    <div ng-show="status && status.heatCutOff">
                        {{ status.heatCutOff }} C
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Mash schedule <span ng-show="running">{{jsonSchedule.name}}</span></div>
        <div class="panel-body" ng-show="!running">
            <div class="well">
                <ul class="nav" role="navigation">
                  <li class="dropdown">
                      <button id="drop1" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Saved schedules<span class="caret"></span></button>

                      <ul class="dropdown-menu" role="menu">
                          <li ng-repeat="schedule in savedSchedules">
                              <a href="#">
                                  <span ng-click="selectSchedule(schedule);" class="label label-primary">{{ schedule.name }}</span>
                                  &nbsp;
                                  <span class="label label-info" ng-if="schedule.uuid === 'default'">Default</span>
                                  <button class="btn btn-danger btn-xs" ng-click="deleteSchedule(schedule);" ng-if="schedule.uuid !== 'default'"> Delete</button>
                              </a>
                          </li>
                      </ul>
                  </li>
                </ul>
                <div class="input-group">
                    <span class="input-group-addon">Name</span>
                    <input class="form-control" type="text" ng-model="jsonSchedule.name" ng-disabled="inputDisabled" ng-change="handleJsonSchedule()" placeholder="Name" aria-label="Name">
                </div>
            </div>
        </div>
        <div class="panel-body" ng-show="!running">
            <div class="well">
                <div class="input-group">
                    <span class="input-group-addon">Volume</span>
                    <input class="form-control" type="number" ng-model="jsonSchedule.volume" ng-disabled="inputDisabled" ng-change="handleJsonSchedule()" placeholder="Volume" aria-label="Volume">
                    <span class="input-group-addon">l</span>
                </div>
                <div class="input-group">
                    <button class="btn btn-primary btn-md" type="button" ng-click="calculateRiseTime = !calculateRiseTime">
                        <span class="glyphicon" ng-class="{'glyphicon-check': calculateRiseTime, 'glyphicon-unchecked': !calculateRiseTime}" aria-hidden="true"></span>
                    </button>
                    <span> Calculate rise time</span>
                </div>
                <!--div class="input-group">
                    <button class="btn btn-primary btn-md" type="button" ng-click="autoNameSteps = !autoNameSteps">
                        <span class="glyphicon" ng-class="{'glyphicon-check': autoNameSteps, 'glyphicon-unchecked': !autoNameSteps}" aria-hidden="true"></span>
                    </button>
                    <span> Autonaming</span>
                </div-->
                <div class="input-group">
                    <span class="input-group-addon">Start temperature</span>
                    <input class="form-control" type="number" ng-model="startTemp" ng-disabled="inputDisabled" ng-change="handleJsonSchedule()" placeholder="Start temperature" aria-label="Start temperature">
                    <span class="input-group-addon">C</span>
                </div>
                <div class="input-group">
                    <button class="btn btn-primary btn-md"  ng-click="fetchStartTemp()">
                        <span class="glyphicon glyphicon-fire" aria-hidden="true"></span> Fetch start temperature
                    </button>
                </div>
            </div>
            <div class="well" ng-repeat="step in jsonSchedule.steps">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">Name</span>
                    <input type="text" class="form-control" ng-model="step.name" ng-disabled="inputDisabled" ng-change="handleJsonSchedule()" placeholder="Name" aria-label="Name">
                    <span class="input-group-addon">Temperature</span>
                    <input type="number" class="form-control" ng-model="step.temperature" ng-disabled="inputDisabled" ng-change="handleJsonSchedule()" placeholder="Temperature" aria-label="Temperature">
                    <span class="input-group-addon">C</span>
                </div>
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">Time</span>
                    <input type="number" class="form-control" ng-model="step.time" ng-disabled="inputDisabled" ng-change="handleJsonSchedule()" placeholder="Time" aria-label="Time">
                    <span class="input-group-addon">min</span>
                    <span class="input-group-addon">Rise time</span>
                    <input type="number" class="form-control" ng-model="step.riseTime" ng-disabled="inputDisabled" ng-change="handleJsonSchedule()" placeholder="Rise time" aria-label="Rise time">
                    <span class="input-group-addon">min</span>
                </div>
                <div class="input-group input-group-sm">
                    <button class="btn btn-danger btn-md" ng-click="removeStep(step, $index)" ng-disabled="inputDisabled">
                        <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span> Remove step
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-11"></div>
                <div class="col-md-1">
                    <div class="input-group">
                        <button class="btn btn-primary btn-md" ng-click="addStep()" ng-disabled="inputDisabled">
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add step
                        </button>
                    </div>
                </div>
            </div>
            <div class="well" ng-show="jsonSchedule.boilSteps.length > 0">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">Sparge pause</span>
                    <input type="number" class="form-control" ng-model="jsonSchedule.spargePause" ng-disabled="inputDisabled" ng-change="handleJsonSchedule()" placeholder="Time" aria-label="Time">
                    <span class="input-group-addon">min</span>
                    <span class="input-group-addon">Boil time</span>
                    <input type="number" class="form-control" ng-model="jsonSchedule.boilTime" ng-disabled="inputDisabled" ng-change="handleJsonSchedule()" placeholder="Time" aria-label="Time">
                    <span class="input-group-addon">min</span>
                </div>
            </div>
            <div class="well" ng-repeat="step in jsonSchedule.boilSteps">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">Time</span>
                    <input type="number" class="form-control" ng-model="step.time" ng-disabled="inputDisabled" ng-change="handleJsonSchedule()" placeholder="Time" aria-label="Time">
                    <span class="input-group-addon">min</span>
                    <span class="input-group-addon">Hop</span>
                    <input type="text" class="form-control" ng-model="step.hop" ng-disabled="inputDisabled" ng-change="handleJsonSchedule()" placeholder="Hop" aria-label="Hop">
                </div>
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">Amount</span>
                    <input type="number" class="form-control" ng-model="step.amount" ng-disabled="inputDisabled" ng-change="handleJsonSchedule()" placeholder="Amount" aria-label="Amount">
                    <span class="input-group-addon">g</span>
                </div>
                <div class="input-group input-group-sm">
                    <button class="btn btn-danger btn-md" ng-click="removeBoilStep(step, $index)" ng-disabled="inputDisabled">
                        <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span> Remove step
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-11"></div>
                <div class="col-md-1">
                    <div class="input-group">
                        <button class="btn btn-primary btn-md" ng-click="addBoil()" ng-disabled="inputDisabled">
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add boil
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="btn-group" role="group" aria-label="...">
        <button class="btn btn-success bt-md" ng-click="save()" ng-disabled="jsonSchedule.uuid === 'default'">
            <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Save
        </button>
        <button class="btn btn-success bt-md" ng-click="saveCopy()">
            <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span> Save copy
        </button>
    </div>

    <div class="btn-group" role="group" aria-label="...">
        <button class="btn btn-primary bt-md" ng-click="start()">
            <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Start
        </button>
        <button class="btn btn-danger bt-md" ng-click="stop()">
            <span class="glyphicon glyphicon-stop" aria-hidden="true"></span> Stop
        </button>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Graph</div>
        <div class="panel-body">
            <div class="chart">
                <linechart data="data" options="options"></linechart>
            </div>
        </div>
    </div>
</div>