<div ng-controller="MashControlCtrl">
    <span ng-if="currentTemp">Current temperature: {{currentTemp.temperature.celcius}}</span>
    <br ng-if="startedTime">
    <span ng-if="startedTime">Starttid: {{ startedTime | date : 'mediumTime' }}</span>
    <br ng-if="lastTempUpdate">
    <span ng-if="lastTempUpdate">Graf Uppdaterades: {{ lastTempUpdate | date : 'mediumTime' }}</span>
    <br ng-if="currentTempTime">
    <span ng-if="currentTempTime">Temp Uppdaterades: {{ currentTempTime | date : 'mediumTime' }}</span>
    <br ng-if="runTime">
    <span ng-if="runTime">Körtid: {{ runTime }}</span>
    <!-- textarea ng-model="schedule" ng-disabled="inputDisabled"></textarea -->
    <br>
    <input type="text" ng-model="jsonSchedule.volume" ng-disabled="inputDisabled" ng-change="handleJsonSchedule()" placeholder="Volume">
    <br>
    <input type="checkbox" ng-model="calculateRiseTime">Calculate rise time
    <table>
        <tr>
            <th>Step</th>
            <th>Temperature</th>
            <th>Time</th>
            <th>Rise time</th>
            <th></th>
        </tr>
        <tr ng-repeat="step in jsonSchedule.steps">
            <td><input type="text" ng-model="step.name" ng-disabled="inputDisabled" ng-change="handleJsonSchedule()"></td>
            <td><input type="number" ng-model="step.temperature" ng-disabled="inputDisabled" ng-change="handleJsonSchedule()"></td>
            <td><input type="number" ng-model="step.time" ng-disabled="inputDisabled" ng-change="handleJsonSchedule()"></td>
            <td><input type="number" ng-model="step.riseTime" ng-disabled="inputDisabled" ng-change="handleJsonSchedule()"></td>
            <td><input type="button" ng-click="removeStep(step, $index)" value="-" ng-disabled="inputDisabled"></td>
        </tr>
        <tr>
            <td><input type="button" value="+" ng-click="addStep()" ng-disabled="inputDisabled"></td>
            <td colspan="3"></td>
        </tr>
    </table>
    <br>
    <button ng-click="start()">Start</button>
    <button ng-click="stop()">Stop</button>
    <!--button ng-click="getSchedule()">Schedule</button-->
    <br>
    <!--div google-chart chart="tempChart" style="height:600px; width:100%;"></div-->
    <div class="chart">
        <linechart data="data" options="options"></linechart>
    </div>
</div>