<div ng-controller="MashControlCtrl">
    <table>
        <tr>
            <td>Current Temperature</td>
            <td>{{currentTemp.temperature.celcius}} C</td>
            <td>Temp update</td>
            <td>{{ currentTempTime | date : 'mediumTime' }}</td>
        </tr>
        <tr>
            <td>Start time</td>
            <td>{{ startedTime | date : 'mediumTime' }}</td>
            <td>Run time</td>
            <td>{{ runTime }} s ( {{ millisToMinutes(runTime) }} min)</td>
        </tr>
        <tr>
            <td>Graph update</td>
            <td colspan="3">{{ lastTempUpdate | date : 'mediumTime' }}</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>{{ status.status }}</td>
            <td>Step</td>
            <td>{{ status.step }}, {{ status.stepName }}</td>
        </tr>
        <tr>
            <td>Heat Cut Off</td>
            <td colspan="3">{{ status.heatCutOff }} C</td>
        </tr>
    </table>
    <span ng-if="lastTempUpdate">Graph update: {{ lastTempUpdate | date : 'mediumTime' }}</span>
    <!-- textarea ng-model="schedule" ng-disabled="inputDisabled"></textarea -->
    <br>
    <input type="number" ng-model="jsonSchedule.volume" ng-disabled="inputDisabled" ng-change="handleJsonSchedule()" placeholder="Volume">
    <br>
    <input type="checkbox" ng-model="calculateRiseTime">Calculate rise time
    <br>
    <button ng-click="fetchStartTemp()">Fetch start temperature</button>
    <input type="number" ng-model="startTemp" ng-disabled="inputDisabled" ng-change="handleJsonSchedule()" placeholder="Start temperature">
    <table>
        <tr>
            <th>Step</th>
            <th>Temperature</th>
            <th>Time</th>
            <th>Rise time</th>
            <th></th>
            <th ng-if="status.status == 'running'">Time Remaining</th>
        </tr>
        <tr ng-repeat="step in jsonSchedule.steps">
            <td><input type="text" ng-model="step.name" ng-disabled="inputDisabled" ng-change="handleJsonSchedule()"></td>
            <td><input type="number" ng-model="step.temperature" ng-disabled="inputDisabled" ng-change="handleJsonSchedule()"></td>
            <td><input type="number" ng-model="step.time" ng-disabled="inputDisabled" ng-change="handleJsonSchedule()"></td>
            <td><input type="number" ng-model="step.riseTime" ng-disabled="inputDisabled" ng-change="handleJsonSchedule()"></td>
            <td><input type="button" ng-click="removeStep(step, $index)" value="-" ng-disabled="inputDisabled"></td>
            <th ng-class="{runningStep: $index+1==status.step}" ng-if="status.status == 'running' && status.step == $index+1">{{ millisToMinutes(status.timeRemaining) }} min</th>
        </tr>
        <tr>
            <td><input type="button" value="+" ng-click="addStep()" ng-disabled="inputDisabled"></td>
            <td colspan="3"></td>
        </tr>
    </table>
    <br>
    <button ng-click="start()">Start</button>
    <button ng-click="stop()">Stop</button>
    <!--button ng-click="getSchedule()">Schedule</button-->
    <br>
    <!--div google-chart chart="tempChart" style="height:600px; width:100%;"></div-->
    <div class="chart">
        <linechart data="data" options="options"></linechart>
    </div>
</div>